@page "/"

<PageTitle>HOSTEE</PageTitle>

<div class="row">
    <div class="col  text-center">
        <h1>Birth of HOSTEE</h1>
        <p>HOSTEE has arrived! Praise!</p>
    </div>
    <div class="col text-center">
       <p>Column2 test</p>
    </div>

</div>

@code{

}
