@page "/timers"

<PageTitle>Timers</PageTitle>

<h1>Your Timers</h1>
<div style="width: 350px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 10px;">
    <div style="flex: 1">
        <SfButton style="width: 160px; height: 50px; border-color: green; border-radius: 10px 30px;" @onclick="AddStandardTimer">Add Standard timer</SfButton>
    </div>
    <div style="flex: 1">
        <SfButton style="width: 160px; height: 50px; border-color: green; border-radius: 10px 30px;" @onclick="AddCountDownTimer">Add Countdown timer</SfButton>
    </div>
    <div style="flex: 1">
        <SfButton style="width: 160px; height: 50px; border-color: green; border-radius: 10px 30px; background-color: #691515;" @onclick="ClearBoard">Clear all</SfButton>
    </div>
</div>


<div class="timer-table">
    @foreach (var timerId in activeStntimers)
    {
        <StandardTimer TimerId="@timerId" OnDelete="RemoveStnTimer" />
    }
    @foreach (var tid in activeCdtimers){
        <CoDownTimer TimerId="@tid" OnDelete="RemoveCdTimer" />
    }
</div>




@code{
    private List<Guid> activeStntimers = new();
    private List<Guid> activeCdtimers = new();


    private void AddCountDownTimer()
    {
        if (activeCdtimers.Count < 6)
        {
            activeCdtimers.Add(Guid.NewGuid());
        }
    }

    private void AddStandardTimer()
    {
        if (activeStntimers.Count < 6)
        {
            activeStntimers.Add(Guid.NewGuid());
        }

    }

    private void RemoveStnTimer(Guid t)
    {
        activeStntimers.Remove(t);
    }
    private void RemoveCdTimer(Guid t)
    {
        activeCdtimers.Remove(t);
    }

    private void ClearBoard()
    {
        activeStntimers.Clear();
        activeCdtimers.Clear();
    }
}
