@page "/timers"

<PageTitle>Timers</PageTitle>

<h1>Your Timers</h1>

<div class="timer-table">
    <div class="row" style="border-radius: 10px;">

        <div class="col" style="align-content:flex-end">
            <SfButton CssClass="btn-add-timer" @onclick="AddStandardTimer">Add Standard timer</SfButton>

        </div>
        <div class="col" style="align-content:flex-start">
            <SfButton CssClass="btn-add-timer" @onclick="AddCountDownTimer">Add Countdown timer</SfButton>

        </div>


    </div>
</div>



<div class="row">

    <div class="col">
        <StandardTimer />
    </div>
    <div class="col">
        <StandardTimer />
    </div>
    <div class="col">
        <StandardTimer />
    </div>

</div>
<div class="row">

    <div class="col">
        <CoDownTimer />
    </div>

    <div class="col">
        <GPTcountdown />
    </div>

</div>

@code{
    private void AddCountDownTimer(){

    }

    private void AddStandardTimer(){

    }
}
