@page "/timers"

<PageTitle>Timers</PageTitle>

<h1>Timers</h1>

<div class="row">

    <div class="col">
        <StandardTimer />
    </div>
    <div class="col">
        <StandardTimer />
    </div>
    <div class="col">
        <StandardTimer />
    </div>

</div>
<div class="row">

    <div class="col">
        <CoDownTimer />
    </div>

    <div class="col">
        <GPTcountdown />
    </div>

</div>
