@using HOSTEE.Models

<div class="new-ex-panel">
    <EditForm Model="@exercise" OnValidSubmit="SubmitExercise">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <div class="col">
                <div class="row">
                    <h3>NewExercise</h3>
                </div>
                <div class="row" style="align-content:start">
                    <label for="Name">Name:</label>
                </div>
                <div class="row">
                    <InputText id="Name" class="form-control" @bind-Value="exercise.Name"></InputText>
                </div>
                <div class="row">
                    <label for="Description">Description:</label>
                </div>
                <div class="row">
                    <InputText id="Description" class="form-control" @bind-Value="exercise.Description"></InputText>
                </div>
                <div class="row">
                    <label for="Type">Type:</label>
                </div>
                <div class="row">
                    <InputText id="Type" class="form-control" @bind-Value="exercise.Type"></InputText>
                </div>
                <div class="row">
                    <label for="MuscleGroup">Muscle Group:</label>
                </div>
                <div class="row">
                    <InputText id="MuscleGroup" class="form-control" @bind-Value="exercise.MuscleGroup"></InputText>
                </div>
                <div class="row" style="padding: 10px">
                    <div class="col">
                        <button class="btn btn-primary" style="width:100%; background-color: lightgreen" type="submit">Add</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" style="width:100%" @onclick="Reset">Clear</button>
                    </div>
                </div>
            </div>
        </div>

    </EditForm>
</div>

@code {
    [Parameter] public string UserId { get; set; }
    [Parameter] public EventCallback<Exercise> OnExCreated { get; set; }

    public Exercise exercise = new();

    public async Task SubmitExercise()
    {
        exercise.UserId = UserId;
        await OnExCreated.InvokeAsync(exercise);
    }

    public void Reset()
    {
        exercise = new Exercise();
    }
}
